.content__list{
  @include flex-starter;
  flex-wrap: wrap;
  justify-content: center;
  @include list-global;
}

.content__item{
  width: 100%;
  max-width: 720px;
  padding: 158px 110px 157px 163px;

  &:nth-child(2){
    width: 100%;
    max-width: 720px;
    padding: 0;
  }

  &:nth-child(3){
    width: 100%;
    max-width: 720px;
    padding: 0;
  }

  &:nth-child(4) > .item__link{
    &::before{
      position: absolute;
      bottom: 2px;
      z-index: -1;
      display: block;
      width: 100%;
      height: 13px;
      background-color: #FE776640;
      border-radius: 28px;
      transition: all 0.4s ease;
      content: "";
    }
  
    &:hover::before{
      background-color: #FE7766;
    }
  }

  &:nth-child(5){
    height: 600px;
    padding: 365px 175px 59px;
    text-align: center;
    background-image: url("../images/cherry.jpg");
    background-repeat: no-repeat;
    background-size: 720px 600px;
    background-position: center;
  }

  &:nth-child(6){
    height: 600px;
    padding: 365px 175px 59px;
    text-align: center;
    background-image: url("../images/orange.jpg");
    background-repeat: no-repeat;
    background-size: 720px 600px;
    background-position: center;
  }
}

.item__title{
  margin: 0;
  margin-bottom: 32px;
  font-family: 'Fraunces Soft';
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 49px;
  color: #24303E;
}

.item__text{
  margin: 0;
  margin-bottom: 40px;
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  color: #808397;  
}

.text{
  margin: 0;
}

.item__link{
  position: relative;
  z-index: 5;
  display: inline-block;
  font-family: 'Fraunces Soft';
  font-style: normal;
  font-weight: 900;
  font-size: 15px;
  line-height: 25px;  
  text-decoration: none;
  color: #24303E;
  
  &::before{
    position: absolute;
    bottom: 2px;
    z-index: -1;
    display: block;
    width: 100%;
    height: 13px;
    background-color: #fad40040;
    border-radius: 28px;
    transition: all 0.4s ease;
    content: "";
  }

  &:hover::before{
    background-color: #FAD400;
  }
}



@media only screen and (max-width: 1439px) {

  .content__item:nth-child(2){
    order: -1;
  }
}

@media only screen and (max-width: 668px) {

  .content__item{


    &:nth-child(5){
      padding: 365px 50px 59px;
    }

    &:nth-child(6){
      padding: 365px 50px 59px;
    }
  }
}

@media only screen and (max-width: 450px) {

  .content__item{
    padding: 64px 24px;
    text-align: center;

    &:nth-child(5){
      padding: 365px 24px 59px;
    }

    &:nth-child(6){
      padding: 365px 24px 59px;
    }
  }
}

@media only screen and (max-width: 370px) {

  .content__item:nth-child(5){
    padding-top: 300px;
  }
}