.header{
  width: 100%;
  padding: 32px 0;  
  background-color: #4ABDF2;
}

.header__box{
  display: flex;
  align-items: center;
}

.header__logo-link{
  text-decoration: none;
}

.header__logo-img{
  width: 100%;
  height: 100%;
}

.header__menu{
  width: 100%;
}

.menu__list{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu__item{
  margin-right: 47px;

  &:nth-child(4){
    margin-right: 0;
  }
}

.menu__link{
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  text-decoration: none;
  color: #FFFFFF;
}

.active{
  padding: 16px 31px;
  font-family: 'Fraunces Soft';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  color: #24303E;
  background-color: #FFF;
  border-radius: 28px;
  transition: all 0.4s ease;

  &:hover{
    color: #FFF;
    background-color: #77CDF5;
  }
}

.header__btn{
  display: none;
  width: 100%;

}

.btn__one{
  display: none;
  font-size: 32px;
  color: #FFF;
  border: none;
  background-color: transparent;
}

.btn__two{
  font-size: 42px;
  color: #FFF;
  border: none;
  background-color: transparent;
}





@media only screen and (max-width: 576px) {

  .header__menu{
    position: absolute;
    top: -400px;
    right: calc(50% - 160px);
    z-index: 10;
    transition: all 0.4s ease;
    width: 100%;
    max-width: 329px;
    padding: 39px 0;
    background-color: #FFFCF8;

    &--open{
      position: absolute;
      top: 130px;
      transition: all 0.4s ease;
    }

    &::before{
      position: absolute;
      top: -24px;
      right: 0;
      display: block;
      width: 24px;
      height: 24px;
      border-top: 12px solid transparent;
      border-right: 12px solid #FFFCF8;
      border-bottom: 12px solid #FFFCF8;
      border-left: 12px solid transparent;
      content: "";
    }
  }

  .menu__list{
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }

  .menu__item{
    margin-right: 0;
    margin-bottom: 32px;

    &:nth-child(4){
      margin-bottom: 0;
    }
  }

  .menu__link{
    display: inline-block;
    color: #808397;
  }

  .active{
    color: #24303E;
    background-color: #FBD600;
  }

  .header__btn{
    display: block;
  }

  .btn__one{
    display: block;
    margin-left: auto;
  }
}