.header{
  padding: 32px 0;  
  background-color: #4ABDF2;
}

.header__box{
  display: flex;
  align-items: center;
}

.header__logo-link{
  text-decoration: none;
}

.header__logo-img{
  width: 100%;
  height: 100%;
}

.header-menu{
  margin-left: auto;
}

.menu__list{
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu__item{
  margin-right: 47px;

  &:nth-child(4){
    margin-right: 0;
  }
}

.menu__link{
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  text-decoration: none;
  color: #FFFFFF;
}

.active{
  padding: 16px 31px;
  font-family: 'Fraunces Soft';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  color: #24303E;
  background-color: #FFF;
  border-radius: 28px;

  &:hover{
    color: #FFF;
    background-color: #77CDF5;
  }
}

.header__btn{
  display: none;
}

.header__button{
  font-size: 32px;
  color: #FFF;
  border: none;
  background-color: transparent;
}

@media only screen and (max-width: 36rem) {

  .header__inner{
    padding: 3rem 0;
  }

  .header__link-img{
    width: 8rem;
    height: 2rem;
  }

  .menu__btn{
    display: block;
  }

  .header__btn{
    display: block;
  }

  .header__button{
    font-size: 1.8rem;
  }

  .header__menu{
    position: absolute;
    top: -37.5rem;
    right: 0;
    width: 16rem;
    height: 37rem;
    padding: 2.5rem 0 0 3rem;
    background-color: $police-blue;
    transition: all 0.5s ease;
    z-index: 2;

    &--open {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      background-image: url("../images/tel-menu.svg");
      background-repeat: no-repeat;
      background-position: bottom right;
      overflow-x: hidden;
    }
  }

  .menu__list {
    flex-direction: column;
    align-items: flex-start;
  }

  .menu__item{
    margin-bottom: 2rem;
  }

  .right{
    margin-left: 0;
  }

}