.hero{
  width: 100%;
  padding: 71px 0 562px;
  background-color: #4ABDF2;
  background-image: url("../images/strelka.png"), url("../images/lemon.png");
  background-repeat: no-repeat;
  background-size: 30px 107px, 1440px 800px;
  background-position: center calc(50% + 15px), center;  
}


.hero__title{
  margin: 0;
  font-family: 'Fraunces Soft';
  font-style: normal;
  font-weight: 900;
  font-size: 56px;
  line-height: 69px;
  text-align: center;
  color: #FFFFFF;
}



@media only screen and (max-width: 576px) {

  .hero{
    padding: 56px 0 320px;
  }
}