.hero{
  position: relative;
  z-index: -2;
  width: 100%;
  padding: 71px 0 562px;
  background-color: #4ABDF2;

  &::after{
    position: absolute;
    top: -98px;
    left: calc(50% - 720px);
    z-index: 2;
    width: 100%;
    max-width: 1440px;
    height: 800px;
    background-image: url("../images/strelka.png"), url("../images/lemon.png");
    background-repeat: no-repeat;
    background-size: 30px 107px, 1440px 800px;
    background-position: center calc(50% + 15px), center;
    z-index:  -1;
    content: "";
  }
  
}


.hero__title{
  margin: 0;
  font-family: 'Fraunces Soft';
  font-style: normal;
  font-weight: 900;
  font-size: 56px;
  line-height: 69px;
  text-align: center;
  color: #FFFFFF;
}



@media only screen and (max-width: 576px) {

  .hero{
    padding: 56px 0 320px;

    &::before{
      position: absolute;
      top: -30px;
      left: calc(50% - 194px);
      z-index: 2;
      display: block;
      width: 390px;
      height: 520px;
      background-image: url("../images/strelka.png"), url("../images/lemon-tel.png");
      background-repeat: no-repeat;
      background-size: 30px 107px, 390px 520px;
      background-position: center calc(50% + 15px), center bottom;
      z-index: -1;
      content: "";
    }

    &::after{
      display: none;
    }
  }
}